---
layout: default
---

<h2 class="post-list-heading">Blog</h2>
<ul class="post-list">
      {%- for blog in site.categories.blog -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ blog.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ blog.url | relative_url }}">
            {{ blog.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ blog.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>